.about {
  height: 120vh !important;
  // position: absolute;
}
.about-text {
  margin-top: 100px !important;
}
.avatars {
 align-items: center;
}
.viewranks-logo-2 {
  height: 100px;
  margin-left: 100px;
}
.viewranks-text {
  font-size: 13px;
  letter-spacing: 4px;
  margin-bottom: 0px !important;
  padding-right: 170px;
  line-height: 1.7;
  color: white;
}
