<div class="container footer-dark-blue">
  <div>
    <p class="details">Rocksolid Restorations</p>
    <p class="details">7 The Old Power Station</p>
    <p class="details">121 Mortlake High Street</p>
    <p class="details">London, SW14 8SN</p>
    <a href="enquiries@rocksolid.com" class="details underline">Enquiries@rocksolid.com</a>
    <p class="details">+44 (0)208 8878 5699</p>
  </div>
  <div class="footer-right hidden-xs">
    <%= image_tag 'viewranks-logo.svg', :class => "viewranks-logo" %>
    <p class="viewranks">Rocksolid Restorations is part of the Viewranks portfolio of companies.</p>
  </div>
</div>
