<div class="container footer-dark-blue">
  <div>
    <p class="details">Skyline Contractors</p>
    <p class="details">1 Berkeley Square</p>
    <p class="details">Mayfair</p>
    <p class="details">London, W1J 6EA</p>
    <a href="mailto:enquiries@skylinecontractors.com" class="details underline">Enquiries@skylinecontractors.com</a>
    <p class="details">+44 (0)208 888 8888</p>
  </div>
  <div class="footer-right hidden-xs hidden-sm">
    <%= image_tag 'portfolio.svg', :class => "viewranks-logo" %>
    <p class="viewranks">Skyline Contractors is part of a portfolio of companies.</p>
  </div>
</div>
