<div class="container bricks about">
  <div class="bricks-content">
    <p class="white-text about-text">About Us</p>
    <p class="sub-text">Skyline Contractors was founded in order to provide a cost effective solution to the specialist and costly maintenance and repair obligations associated with keeping historic buildings and infrastructure fit for purpose in the today’s environment.</p>
  </div>
</div>

<!-- <div>
<%= image_tag 'avatars.png', :class => "" %>
</div> -->
<!-- <div class="container blue-background">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= image_tag 'sc-logo.svg', :class => "viewranks-logo-2" %>
    </div>
    <div class="col-xs-12 col-sm-6 viewranks-text">
      <p>Skyline Contractors is part of a portfolio of companies and maintains the same corporate philosophy to look after its clients’ interests as if they were its own.</p>
    </div>
  </div>
</div> -->

