<div class="container bricks">
  <div class="about-content">
    <%= image_tag 'Circle.png', :class => "about-text"%>
    <p class="white-text about-text">About Us</p>
    <p class="sub-text">Skyline Contractors is a team of highly skilled tradesman; we have built a reputation as one of the region’s leading Contractors specialising in new build residential development; marine, port and underwater works; and affordable imaging radar.</p>
  </div>
</div>
