<div class="container text-center heading">
  <p class="white-text">Contact Us</p>
  <p class="contact contact-margin", style=>Skyline Contractors</p>
  <p class="contact">1 Berkeley Square</p>
  <p class="contact">Mayfair</p>
  <p class="contact">London, W1J 6EA</p>
  <a href="mailto:enquiries@skylinecontractors.com" class="contact underline services-link">Enquiries@skylinecontractors.com</a>
  <p class="contact">+44 (0)208 888 8888</p>
</div>
