<div class="container text-center heading">
  <p class="white-text">Contact Us</p>
  <p class="contact contact-margin", style=>Rocksolid Restorations</p>
  <p class="contact">7 The Old Power Station</p>
  <p class="contact">121 Mortlake High Street</p>
  <p class="contact">London, SW14 8SN</p>
  <a href="enquiries@rocksolid.com" class="contact underline services-link">Enquiries@rocksolid.com</a>
  <p class="contact">+44 (0)208 8878 5699</p>
</div>
