<div class="container text-center heading">
  <div class="text-container">
    <p class="white-text">Skyline</p>
    <p class="white-text-two">Contractors</p>
  </div>
  <div class="arrow-wrapper">
    <a href="#link">
      <div class="arrow">
        <ul>
          <li></li>
          <li></li>
        </ul>
      </div>
    </a>
  </div>
  <div class="arrow-wrapper-two">
    <a href="#link">
      <div class="arrow">
        <ul>
          <li></li>
          <li></li>
        </ul>
      </div>
    </a>
  </div>
</div>

<div class="container bricks" id="link">
  <div class="bricks-content">
    <p data-aos="fade-up" data-aos-duration="2000">Our team provides a range of development services – all delivered by professionals.</p>
<div class="hidden-xs", style="display: flex; margin-top: 60px; justify-content: center">
  <a class="four-services" data-aos="fade-up" data-aos-duration="2000", href="http://localhost:3000/services">Residential</a>
  <p class="" data-aos="fade-up" data-aos-duration="2000">&#160;&#160;|&#160;&#160;</p>
  <a class="four-services" data-aos="fade-up" data-aos-duration="2000", href="http://localhost:3000/services">Underwater</a>
  <p class="" data-aos="fade-up" data-aos-duration="2000">&#160;&#160;|&#160;&#160;</p>
  <a class="four-services" data-aos="fade-up" data-aos-duration="2000", href="http://localhost:3000/services">Technologies</a>
  <p class="" data-aos="fade-up" data-aos-duration="2000">&#160;&#160;|&#160;&#160;</p>
  <a class="four-services" data-aos="fade-up" data-aos-duration="2000", href="http://localhost:3000/services">Sustainable</a>
</div>
    <div data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
      <%= image_tag 'elipses.svg', :class => "elipses hidden-xs" %>
      <%= image_tag 'elipses-small.svg', :class => "elipses-small hidden-sm hidden-md hidden-lg" %>
    </div>
  </div>
</div>

<div class="container blue-background">
  <div class="blue-content" data-aos-duration="2000">
    <%= image_tag 'Circle.png', :style => "margin-bottom: 60px;"%>
    <p>About Us</p>
    <p class="sub-text">Skyline Contractors was founded in order to provide a cost effective solution to the specialist and costly maintenance and repair obligations associated with keeping historic buildings and infrastructure fit for purpose in the today’s environment.</p>
  </div>
</div>

<div class="container blue-margin">
</div>
<%= render 'shared/image-slider' %>
<div class="container blue-margin">
</div>
