.navbar {
  background: transparent;
  transition: all 0.3s ease;
  height: 100px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  z-index: 10000;
  margin-bottom: -1px;
  border: none;
  position: fixed;
  width: 100vw;
}
.navbar-right {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400;
}
.navbar-item-right {
  cursor: pointer;
  padding: 0 30px;
}
.navbar-link {
  color: white;
  text-decoration: none;
}
.navbar-link:hover {
  color: #86374B;
  text-decoration: none;
}
.dropdown-right {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  padding-right: 20px;
  color: white;
}
.dropdown-menu {
  min-width: 120px !important;
  background-color: none;
}
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 1px #E6E6E6;
  border-color: #E6E6E6;
  background-color: #021138;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: white !important;
  font-size: 12px !important;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 20px !important;
  padding: 10px 20px;
  text-decoration: none;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: #7F3447 !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 30px;
  top: -6px;
  background-color: #021138;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
